@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
header .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
header .header-content h1 {
  font-size: 88px;
  color: #000;
}
header .header-content p {
  font-size: 28px;
  color: #000;
  font-weight: 700;
  padding-bottom: 40px;
}
header .header-content a {
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  background-color: #007bbf;
  transition: all 0.5s ease;
}
header .header-content a:hover {
  color: #000;
  background-color: white;
  transition: all 0.5s ease;
}

#offer {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#offer .offerSection h1 {
  font-size: 32px;
  color: #000;
  font-weight: 700;
}
#offer .offerSection p {
  font-size: 20px;
  color: #888;
  font-weight: 500;
  padding: 20px 0;
}
#offer .offerSection .offer-btn {
  padding: 30px 0;
}
#offer .offerSection .offer-btn a {
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  background-color: #231d1d;
  transition: all 0.5s ease;
}
#offer .offerSection .offer-btn a:hover {
  color: #fff;
  background-color: #5e5b5b;
  transition: all 0.5s ease;
}

#services {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #007bbf;
}
#services .servicesTop h3 {
  color: gold;
}
#services .services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 60px;
}
#services .services .service {
  text-align: center;
}
#services .services .service h4 {
  padding-top: 30px;
  font-size: 1rem;
  text-transform: uppercase;
}
#services .services .service .icon {
  position: relative;
  background-color: #fff;
  color: #1d809f;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  margin-left: 40px;
}
#services .services .service .icon .fa-mobile-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
}

#welcome {
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  position: relative;
}
#welcome .welcomeSection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#welcome .welcomeSection h1 {
  font-size: 56px;
  color: #000;
  text-align: center;
}
#welcome .welcomeSection .welcome-button {
  text-align: center;
  padding-top: 30px;
}
#welcome .welcomeSection .welcome-button a {
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  background-color: #007bbf;
  transition: all 0.5s ease;
}
#welcome .welcomeSection .welcome-button a:hover {
  color: #000;
  background-color: white;
  transition: all 0.5s ease;
}

#portfolio {
  padding: 5rem 0;
}
#portfolio .portfolioTitle {
  text-align: center;
  color: gold;
}
#portfolio .portfolioTitle h2 {
  font-size: 48px;
  padding: 30px 0;
}
#portfolio .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
#portfolio h2 {
  color: #000;
}
#portfolio .box {
  position: relative;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s ease;
}
#portfolio .box .box-content {
  position: absolute;
  bottom: 35px;
  left: 30px;
  transition: all 0.5s ease;
}
#portfolio .box:hover {
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.5s ease;
  overflow: hidden;
}
#portfolio .grid {
  display: grid;
  grid-template-areas: "staniory icee" "strawberries workspace";
}
#portfolio .staniory {
  grid-area: staniory;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
}

.ice {
  grid-area: icee;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
}

.strawberries {
  grid-area: strawberries;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg);
}

.workspace {
  grid-area: workspace;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg);
}

#buttonSect {
  text-align: center;
  background-color: #1d809f;
  min-height: 45vh;
  padding-top: 60px;
}
#buttonSect h3 {
  font-size: 32px;
  color: white;
}
#buttonSect .buttons {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  gap: 20px;
}
#buttonSect .buttons .btn {
  padding: 1.25rem 2.5rem;
  background-color: white;
  border-radius: 12px;
  color: #000;
  transition: all 0.5s ease;
}
#buttonSect .buttons .btn:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.5s ease;
}
#buttonSect .buttons .btn2 {
  padding: 1.25rem 2.5rem;
  background-color: #000;
  border-radius: 5px;
  color: white;
  transition: all 0.5s ease;
}
#buttonSect .buttons .btn2:hover {
  background-color: white;
  color: #000;
  transition: all 0.5s ease;
}

#footer {
  min-height: 30vh;
  text-align: center;
}
#footer .footer-top {
  margin-top: 60px;
}
#footer .social-media-icons {
  display: flex;
  justify-content: center;
}
#footer .social-media-icons div {
  background-color: #1d809f;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#footer .social-media-icons div i {
  color: #fff;
  font-size: 2rem;
  transition: all 0.5s ease-in;
}
#footer .social-media-icons .facebook:hover i {
  color: #3B5998;
  transition: all 0.5s ease-in;
}
#footer .social-media-icons .twitter:hover i {
  color: #00B6F1;
  transition: all 0.5s ease-in;
}
#footer .social-media-icons .github:hover i {
  color: #040204;
  transition: all 0.5s ease-in;
}
#footer .footer-bottom {
  margin: 20px 0;
  color: #888;
}

@media only screen and (max-width: 768px) {
  #portfolio .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  #portfolio .grid-container .grid {
    display: grid;
    grid-template-areas: "staniory" "icee" "strawberries" "workspace";
    min-width: 100vw;
  }
  #portfolio .grid-container .grid .box {
    margin-top: 20px;
  }
}/*# sourceMappingURL=main.css.map */